<%- include("partials/head", {title: 'LOOP - Detalle de Producto'}) %>

<body>
  <%- include("partials/header") %>
  <main>

      <div style="padding:10px 30px;margin:20px">
        <a href="/" style="background-color: white;font-size: 1.3em;font-weight: bold; color: black; text-decoration: none;padding: 5px;">
          <i class="fas fa-angle-left"></i> VOLVER
        </a>
      </div>

      <span class="product">
        <div>
          <img src="/images/RUBIA-lata.png" width="100%" alt="lata" />
        </div>
        <div class="product-box">
          <h1 style="text-align: center; color: black;">LOOP Lata Rubia</h1>
          <p class="product-price">$220,00</p>
          <p>Tipo: Con Trigo.</p>
          <p>Color: De color dorado</p>
          <p>Aroma: Ligeramente tropical.</p>
          <p>Sabor: Suave, no es amarga, muy sabrosa, y con gusto delicado.</p>
          <p>
            Descripción: La malta, el trigo, los lúpulos aromáticos le otorgan
            un sabor no tradicional que la hacen muy particular.
          </p>
        </span>
        <div class="productButton">
          <h3>+ AGREGAR</h3>
        </div>
        </div>
    </main>

    <%- include("partials/footer") %>

  </body>
</html>
