<%- include("partials/head", {title: 'LOOP - Carrito'}) %>

<body>
  <%- include("partials/header") %>
    <main>

      <h1 class="main-titulo">CARRITO</h1>

      <div class="product-carrito">
        <span class="head">
          <p>#</p>
          <p>Producto</p>
          <p>Precio</p>
          <p>Cantidad</p>
          <p>Subtotal</p>
        </span>
        
        <hr style="margin-top:10px;">

        <span class="body">
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </span>

        <span>
          <h2>TOTAL: $0</h2>
          <h2>COMPRAR</h2>
        </span>
      </div>

      <!-- <span >
        <div>
          <img class="img-carrito" src="/images/RUBIA-lata.png" width="100%" alt="lata"/>
        </div>
        <div class="product-box">
          <h3>LOOP Lata Rubia</h3>
          <p>$220,00</p>
        </div>
      </span>

      <hr>

      <span class="product-carrito">
        <div>
          <img class="img-carrito" src="/images/IPA-lata.png" width="100%" alt="lata"/>
        </div>
        <div class="product-box">
          <h3>LOOP Lata IPA</h3>
          <p>$220,00</p>
        </div>
      </span>

      <hr>
      
      <span class="product-carrito">
        <p>Subtotal: $440,00</p>
      </span>
      <span class="product-carrito">
        <p>Medios de envio</p>
        <div>
          <input type="tel" name="cp" placeholder="Código postal" />
          <button type="submit">Calcular</button>
        </div>
      </span> -->
    </main>

    <%- include("partials/footer") %>

  </body>
</html>
