<%- include("partials/head", {title: 'LOOP - Sobre Nosotros'}) %>

<body>
    <%- include("partials/header") %>

    <main>
        <h1 class="main-titulo">SOBRE NOSOTROS</h1>

        <section class="sobreNosotros">
            <div>
                <p>
                    <span class="loop">LOOP</span>
                    es una empresa nueva dedicada a realizar cervezas artesanales ricas a buen precio,
                    oriunda de San Nicolás de los Arroyos, provincia de Buenos Aires.
                </p>
            </div>
        </section>
    </main>

    <%- include("partials/footer") %>
</body>
</html>