<%- include("partials/head", {title: 'LOOP - Sobre Nosotros'}) %>

<body>
    <%- include("partials/header") %>

    <main>
        <h1 class="main-titulo">SOBRE NOSOTROS</h1>

        <section class="sobreNosotros">
            <div>
                <p class="nosparrafo">
                    Somos una empresa dedicada a la producción de cerveza artesanal de alta calidad, elaborada con pasión y
                    dedicación desde su origen. Nuestra fábrica se encuentra localizada en San Nicolás de los Arroyos, provincia 
                    de Buenos Aires, siendo parte de un proyecto que surgió hace apenas un año, como no podía ser de otra manera, 
                    entre birras y amigos.
                </p>
                <p class="nosparrafo">
                    Desde nuestra fundación en 2022, nos hemos comprometido a ofrecer un producto elaborado 
                    con ingredientes de la más alta calidad y con técnicas que respetan la tradición cervecera.
                    En nuestro empeño por ofrecer las mejores cervezas artesanales, seleccionamos cuidadosamente los ingredientes 
                    de nuestras cervezas, obtenidas de forma sustentable, en compromiso con el medio ambiente y la naturaleza de 
                    nuestros productos. Con esto nos aseguramos estar a la altura de los momentos que compartimos con amigos y familia, 
                    por ser únicos y memorables como <strong>LOOP</strong>.
                </p>
                <img src="../public/images/cerveza.jpg" alt="Proceso de elaboración de la cerveza" class="imgcerveza">
            </div>
        </section>
    </main>

    <%- include("partials/footer") %>
</body>
</html>