<%- include("partials/head", {title: 'LOOP - Sobre Nosotros'}) %>

<body>
    <%- include("partials/header") %>

    <main>
        <h1 class="main-titulo">Sobre Nosotros</h1>
    </main>

    <%- include("partials/footer") %>
</body>
</html>