<span>
    <img src="<%= imagen %>" width="100%" alt="lata" />
    <div class="container-body-cervezas">
      <h2 class="cervezaTitulo"><%= titulo %></h2>
      <hr>
      <div class="box-precioYEnvio">
        <h3 class="cervezaPrecio"><%= precio %></h3>
        <p class="cervezaEnvio">ENVIO GRATIS</p>
      </div>
      <hr>
      <div class="cervezaVerMas">
        <a href="">
          + AGREGAR
        </a>
        <a href="/productDetail">
          VER MÁS
          <i class="fas fa-angle-right"></i>
        </a>
        </div>
    </div>
</span>