<footer>
    <div class="footer-links">
        <a href="/">Cervezas</a>
        <a href="/merchandising">Merchandising</a>
        <a href="/sobrenosotros">Sobre Nosotros</a>
        <h3>Derechos Reservados © - 2022/23</h3>
    </div>
</footer>