<%- include("partials/head", {title: 'LOOP - Iniciar Sesión'}) %>

<body>
    <%- include("partials/header") %>
    <main>
        <form action="" class="formulario">
            <h1 style="text-align: center;margin-top: 20px;">INICIAR SESIÓN<i class="fas fa-beer"></i></h1>
            <input type="text" class="input-form" placeholder="Nombre de usuario">
            <input type="password" class="input-form" placeholder="Escribe tu contraseña">
            <div class="checkbox">
                <input type="checkbox">
                <p>Recuérdame</p>
            </div>
            <input type="submit" value="Iniciar sesión" class=" form-enviar">
            <a href="/register">¿No tiene cuenta? ¡Hagase una!</a>
        </form>
    </main>

    <%- include("partials/footer") %>

</body>
</html>