<!DOCTYPE html>
<html>
  <head>
    <title>LOOP Cervezas</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    LOOP Cervezas ->
    <a href="http://localhost:3000">IR</a>
    <br>
    IR a productos ->
    <a href="http://localhost:3001/api/products">IR</a>
    <br>
    IR a usuarios ->
    <a href="http://localhost:3001/api/users">IR</a>
  </body>
</html>
